/* 头部 */
.main {
  width: 1130px;
  margin-left: auto;
  padding-bottom: 200px;
}
.main_title_cont{
  display: flex;
  margin: 30px 0 60px 0;
  padding-left: 13px;
  box-sizing: border-box;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}
.main_title_cont h2 {
  display: inline-block;
  height: 50px;
  width: 105px;
  box-sizing: border-box;
  border-bottom: 3px solid #fff;
  font-size: 14px;
  color: #666;
  line-height: 40px;
  margin-right: 136px;
  cursor: pointer;
  transition: 0.15s;
  margin-bottom: 0;
}
.main_title_cont .main_title_cont_on{
  border-color:#f85162;
  color: #f85162;
}
/*基本信息录入*/
.baseMsg{
  box-sizing: border-box;
  color: #666
  height: 778px;
  border-bottom:1px solid #e6e6e6;
  margin-left: 13px;
}
.baseMsgItem{
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
.baseMsgItem_cont{
  width: 200px;
  text-align: center;
  border-bottom:1px solid #7a7a7a;
  box-sizing: border-box;
  margin-right: 50px;
}
.baseMsgItem_cont input{
  width: 200px;
  border:none;
  color: #666;
  text-align: center;
  font-size: 14px;
}
.baseMsgItem p{
  display:inline-block;
  width: 117px;
  font-size: 14px;
  color: #666
}
.detailAddr{
  width: 700px;
}
.detailAddr input{
  width: 700px;
}
.addrPos{
  left:24px !important;
}
/*订单详情*/
.serviceDet{
  /*height: 700px;*/
  padding-top: 60px;
  box-sizing: border-box;
  /*border:solid;*/
}
.littleTitle{
  width: 100px;
  height: 30px;
  border-left:5px solid #f85162;
  color: #666;
  font-size: 14px;
  text-align: center;
  margin-bottom: 60px;
}
.buttons{
  display: flex;
  font-size: 14px;
  color: #fff;
  margin-bottom: 60px;
}
.removeButton,.addButton,.buttonstyle{
  width: 80px;
  height: 30px;
  line-height: 30px;
  background-color: #999;
  cursor: pointer;
  margin-right: 50px;
  text-align: center;
}
.buttons div:hover{
  background-color:#f85162; 
}
.orderTableTr{
  display: flex;
  height: 50px;
  width: 100%;
}
.orderTableTr div{
  border-right:1px solid #e6e6e6;
  border-bottom:1px solid #e6e6e6;
  box-sizing: border-box;
  width: 150px;
  line-height: 50px;
  text-align: center;
}
/*人员详情*/


/*绝对定位弹框*/
  /*订单定位*/
.addOrderItems,.addPersonItems{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(200,200,202,0.5);
  top: 0;
  left: 0;
  z-index:2;
  color: #666;
  display: none;
}
.addOrderItem a,.addPersonItems a{
  color: #666 !important
}
.addOrderItem,.addPersonItem{
  width: 904px;
  height: 458px;
  border:1px solid #909090;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
}
.addOrderItemTitle,.addPersonItemTitle{
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  color: #fff;
  background: #f85162;
  padding-left: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addOrderItemTitle span,.addPersonItemTitle span{
  width: 20px;
  height: 20px;
  background: url(../../images/xx.png) no-repeat;
  margin-right: 20px;
  cursor: pointer;
}
.addOrderItemContent{
  display:flex;
  flex-wrap: wrap;
  padding-top:22px;
  padding-left:40px;
}
.addOrderItemDetail{
  width: 382px;
  height: 35px;
  display: flex;
  box-sizing: border-box;
  margin-right: 40px;
}
.addOrderItemDetail p{
  width: 120px;
  line-height: 35px;
}
.addOrderItemDetail div{
  width: 200px;
  border-bottom:1px solid #999;
  box-sizing: border-box;
}
.orderAddItemButton,.personAddItemButton{
  display: flex;
  padding-left: 110px;
  box-sizing: border-box;
  margin-top: 85px;
}
.buttonstyle{
  background-color: #f2f2f2; 
}
.buttonstyle:hover{
  background-color: #f85162;
  color: #fff
}
 /*人员详情*/
 
 /*备注*/
 .remarks{
  display: flex;
  align-items: center;
  height: 152px;
  margin-top: 50px;
  border-top:1px solid #e6e6e6;
  border-bottom:1px solid #e6e6e6;
  box-sizing: border-box;
  color: #666;
 }
 .remarks textarea{
  width: 950px;
  height: 80px;
  border:none;
  margin-top: 40px;
  padding-top: 6px;
  box-sizing: border-box;
 }
/*common*/

a:hover{
  text-decoration: none !important;
}

.container a{
  color: #666 !important;
}
.hotelAddrContent,.jieqinAddrContent{
  height: 192px;
  overflow: auto;
}
.rightBorderNone{
  border-right:none !important;
}
/*没有下边框*/
.botBotNo{
  border-bottom: none !important;
}
.inputOrderMsg{
  width: 200px;
  height: 34px;
  text-align: center;
  border:none;
  font-size: 14px;
}