/* 头部 */
.main {
  width: 1130px;
  margin-left: auto;
  padding-bottom: 200px;
  border:solid;
  padding-left: 40px;
  box-sizing: border-box;
}
.main>div{
  margin-top: 60px;
}
.m_title{
  width: 150px;
  height: 35px;
  line-height: 35px;
  border-left:5px solid #f85162;
  font-size: 18px;
  color: #666;
  font-weight: bold;
  text-align: center;
}
/*新人信息*/
.newPerson{
  margin-top: 40px;
}
.newPersonItems{
  display:flex;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
  padding-right: 100px;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.newPersonItem{
  display: flex;
}
.newPersonItem p{
  width: 120px;
}
.newPersonItem input{
  width: 200px;
  border:none;
  border-bottom:1px solid #999;
  font-size: 14px;
  color: #666;
  text-align: center;
}
.newPersonItem .addr_detail{
  width: 871px;
}
.addr_cap{
  width: 800px;
  height: 454px;
  border:solid;
  margin:0 auto;
  margin-bottom: 40px;
}