/* 头部 */
.main {
  width: 1130px;
  margin-left: auto;
  padding-bottom: 200px;
}

.main_header {
  height: 200px;
  background: url(../../images/ub/ub_user_bg.jpg) no-repeat;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main_header_user {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 135px;
}

.main_header_user_img {
  width: 115px;
  height: 115px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main_header_user_img div {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.main_header_user_x10 {
  margin-left: 25px;
}

.main_header_user_x10 p {
  width: 100%;
  line-height: 22px;
  height: 22px;
  color: #fff;
}

.main_header_user_type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.main_header_user_type i {
  display: inline-block;
  width: 30px;
  height: 100%;
  background: url(../../images/ub/ub_icon.png) no-repeat -79px 0;
}

.main_header_user_name {
  font-size: 20px;
}

.main_header_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 100px;
}

.main_header_info li {
  width: 100px;
  text-align: center;
  margin-top: 80px;
}

.main_header_info li h2 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}

.main_header_info li p {
  font-size: 18px;
  color: #77010d;
}
/* **** */
.content{
  width: 1130px;
  margin-top: 48px;
  background: #f7f7f7;
  padding-top: 29px;
  box-sizing: border-box;
  border:1px solid #f0eff0;
  border-radius: 5px;
}
.littleTitle{
  width: 180px;
  height: 30px;
  border-left: 5px solid #f85162;
  margin-left: 30px;
  margin-bottom: 50px;
  font-size: 23px;
  font-weight: 200;
  color: #666666;
  line-height: 30px;
  padding-left: 20px;
  box-sizing: border-box;
}
.littleTitleTwo{
  display: flex;
  align-items: center;
  min-width: 180px;
  height: 30px;
  /*border-left: 5px solid #f85162;*/
  margin-left: 30px;
  font-size: 23px;
  font-weight: 200;
  color: #666666;
  line-height: 30px;
  padding-left: 20px;
  box-sizing: border-box;
  margin-top: 60px;
  cursor: pointer;
}
.littleTitleTwo i{
  display: block;
  background-color: #f85162;
  width: 5px;
  height: 27px;
  margin-left: 20px;
  margin-right: 20px;
}
.littleTitleTwo_on{
  color: #f85162 !important;
}
/* 已发布任务 */
.myPostTask{
  height: 404px;
  position: relative;
}
.taskBox{
  display: flex;
}
.myPostTask_content{
  width: 799px;
  height: 34px;
  align-items: center;
  display: flex;
  margin-left: 30px;
  color: #666;
  font-size: 16px;
}
.myPostTask_date{
  margin-right: 22px;
  width: 80px;
}
.myPostTask_name{
  width: 357px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right:100px;
}
.myPostTask_button_edit{
  width: 90px;
  text-align: center;
}
.myPostTask_button_move{
  width: 90px;
  text-align: center;
  cursor: pointer;
}
/*已发布任务右边*/
.myPostTask_right{
  width: 258px;
  height: 342px;
  position:absolute;
  right:0;
  top: 20px;
  border-left: 1px solid #ddd;
  box-sizing: border-box;
}
.myPostTask_right_button{
  border:1px solid #f85162;
  width: 154px;
  height: 44px;
  line-height: 44px;
  margin:0 auto;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  color: #f85162;
  margin-top: 150px;
}
.task:hover{
  color: #f85162;
}
.task:hover a{
  color: #f85162;
}
.task:hover i{
  background:#f85162;
}
/*档期安排*/
.myDatePlan{
  height: 700px;
  position: relative;
}
/*日历插件中的css*/
html {
    font: 500 14px 'roboto';
    color: #333;
    background-color: #fafafa;
  }
  a {
    text-decoration: none;
  }
  ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #demo {
    width: 300px;
    margin: 50px auto;
  }
  p {
    margin: 0;
  }
  #dt {
    margin: 30px auto;
    height: 28px;
    width: 200px;
    padding: 0 6px;
    border: 1px solid #ccc;
    outline: none;
  }
  .boxc{
    color: #6f6f6f;
    width: 180px;
    height: 220px;
    position:absolute;
    font-size: 16px;
    top: 200px;
    left: 53px;
  }
  .boxc_item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .box_radius{
    width: 12px;
    height: 12px;
    background: #FF808E;
    border-radius: 50%;
    margin-right: 27px;
  }
  .box_content{
    width: 130px;
  }
/*公告与通知*/
.notice{
  display: flex;
  justify-content: space-between;
  width: 1130px;
  height: 405px;
  margin-top: 50px;
}
/*系统公告*/
.systemBulletin{
  width: 730px;
  margin-top: 0;
}
/*站内通知*/
.stationNotice{
  width: 350px;
  margin-top: 0;
}
.systemBulletin_name{
  width: 376px;
}
.stationNotice_name{
  width: 179px;
}
/*--查看更多--按钮*/
.lookingMore{
  width: 64px;
  height: 24px;
  font-size: 16px;
  text-align: center;
  margin:15px auto auto 33px;
  color: #666;
  border-bottom: 1px solid #999;
  cursor: pointer;
}
a{
  color: #666;
}
a:hover{
  text-decoration: none;
}
i{
  display: inline-block;
  width: 1px;
  height: 19px;
  background: #666;
  line-height: 90px;
}
/*注释：系统公告css和已发布任务css共用了一部分*/
/*分页样式*/
.pageshow{
  margin-left: -180px !important;
  margin-top: 30px !important;
}
.haveJoinContent{
  display: none
}