/* 头部 */
.main {
  width: 1130px;
  margin-left: auto;
  padding-bottom: 200px;
}

.main_header {
  height: 200px;
  background: url(../../images/ub/ub_user_bg.jpg) no-repeat;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main_header_user {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 135px;
}

.main_header_user_img {
  width: 115px;
  height: 115px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main_header_user_img div {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.main_header_user_x10 {
  margin-left: 25px;
}

.main_header_user_x10 p {
  width: 100%;
  line-height: 22px;
  height: 22px;
  color: #fff;
}

.main_header_user_type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.main_header_user_type i {
  display: inline-block;
  width: 30px;
  height: 100%;
  background: url(../../images/ub/ub_icon.png) no-repeat -79px 0;
}

.main_header_user_name {
  font-size: 20px;
}

.main_header_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 100px;
}

.main_header_info li {
  width: 100px;
  text-align: center;
  margin-top: 80px;
}

.main_header_info li h2 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}

.main_header_info li p {
  font-size: 18px;
  color: #77010d;
}
/* 添加商品 */
.main_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 30px 0 50px 0;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}

.main_title_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_title h1 {
  display: inline-block;
  height: 50px;
  width: 150px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 3px solid #fff;
  font-size: 16px;
  color: #666;
  line-height: 40px;
  margin-right: 30px;
  cursor: pointer;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.main_title .main_title_cont_on {
  border-color: #f85162;
  color: #f85162;
}

.main_title h1:hover {
  border-color: #f85162;
  color: #f85162;
}

.main_title h1 span {
  font-size: 14px;
}

.main_title button {
  width: 100px;
  height: 33px;
  border: 1px solid #999;
  color: #999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  border-radius: 5px;
  font-size: 14px;
}

.main_title button:hover {
  color: #f85162;
  border-color: #f85162;
}

.main_title button:active {
  color: #fff;
  background: #f85162;
  border-color: #f85162;
}
/* 内容 */
.main_cont {
  border-top: 34px solid #f85162;
  margin-bottom: 60px;
}

.main_cont_title {
  border: 1px solid #d9d9d9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 38px;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main_cont_title li {
  width: 102px;
  height: 18px;
  border-right: 1px solid #aaaaab;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  color: #666;
  font-size: 14px;
  line-height: 18px;
}

.main_cont_title_x10 li {
  width: 125px !important;
}

.main_cont_title li:last-child {
  border: none;
}

.main_cont_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-top: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 110px;
}

.main_cont_list ul li {
  width: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main_cont_list_x10 ul li {
  width: 125px;
}

.main_cont_list ul li p {
  width: 100px;
  height: 20px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #666;
}

.main_cont_list_x10 ul li p {
  width: 120px;
}

.main_cont_list_img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.main_cont_list ul li button {
  min-width: 56px;
  height: 26px;
  border: 1px solid #999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
  background: none;
  color: #999;
  margin: 0 30px;
}

.main_cont_list ul li button:first-child {
  margin-bottom: 16px;
}

.main_cont_list ul li button:hover {
  color: #f85162;
  border-color: #f85162;
}

.main_cont_list ul li button:active {
  color: #fff;
  background: #f85162;
  border-color: #f85162;
}

.Remarks {
  width: 25px;
  height: 24px;
  background: url(../../images/ub/ub_icon.png) no-repeat -124px 0;
  cursor: pointer;
  position: relative;
}

.Remarks_cont {
  width: 190px;
  border: 1px solid #b2b2b2;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  background: #fff;
  padding: 10px;
  bottom: 30px;
  left: -83px;
  display: none;
}

.Remarks_text {
  font-size: 14px;
  line-height: 18px;
  color: #666; /*
  max-height: 130px;
  overflow: auto;  */
}

.Remarks_cont:before {
  content: "";
  position: absolute;
  width: 22px;
  height: 8px;
  background: url(../../images/ub/ub_icon.png) no-repeat -175px 0;
  bottom: -8px;
  left: 84px;
}
.show {
  display: block;
}
