/*------标题-------*/
.title {
  width: 760px;
  margin: 0 auto;
}

.title_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 40px 0;
}

.title_left {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.title_right {
  width: 100%;
  height: 18px;
  border-bottom: 1px solid #f1959f;
}

.title_left > i {
  width: 3px;
  height: 18px;
  background: #eb5162;
}

.title_left > p {
  padding: 0 5px;
  font-size: 16px;
}

.title_left span {
  font-size: 12px;
}

/*----内容----*/

.main {
  width: 600px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex;
  -ms-flex-pack: flex;
  justify-content: flex;
}

.main_left {
  width: 110px;
}

.main_left p {
  display: inline-block;
  text-align: center;
  height: 53px;
  margin-bottom: 36px;
  line-height: 53px;
  color: #6a717c;
  font-size: 16px;
}

.main_cont {
  width: 100%;
  padding-bottom: 200px;
}

.main_cont_h1 {
  font-size: 48px;
  text-align: center;
  color: #6a717c;
  line-height: 2em;
}

.main_cont form > div {
  margin-bottom: 36px;
  height: 53px;
}

.input_shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex;
  -ms-flex-pack: flex;
  justify-content: flex;
  -webkit-box-shadow: 0 0 5px #eee;
  box-shadow: 0 0 5px #eee;
}

.main_bian {
  display: inline-block;
  width: 9px;
  height: 53px;
  background: #f85162;
}

.main_cont input {
  width: 100%;
  height: 53px;
  border: 1px solid #ededee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: none;
  font-size: 16px;
  color: #6a717c;
  padding: 0 14px;
}

.cp_name {
  display: inline-block;
  width: 100%;
  height: 53px;
  line-height: 53px;
  border: 1px solid #ededee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: none;
  font-size: 16px;
  color: #6a717c;
  padding: 0 14px;
}

.input_Drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.input_Drop select {
  width: 120px;
  height: 30px;
  text-align: center;
  margin-right: 10px;
}

.main_cont input[type="file"] {
  border: none;
}

/*按钮*/
.Upload {
  width: 325px;
  height: 56px;
  background: #f85162;
  text-align: center;
  line-height: 56px;
  color: #fff;
  font-size: 26px;
  margin: 0 auto;
  cursor: pointer;
}

/*--图片上传--*/
.input_SCTP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 120px !important;
}

/*商户简介*/
.input_textarea {
  width: 100%;
  height: 150px !important;
}

.input_textarea textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  color: #666;
  border: 1px solid #ccc;
}

/*名称*/
.main_left .main_left_x10 {
  margin: 30px 0 115px 0;
}

.main_left .main_left_x20 {
  margin-top: 95px;
}
/* 点击打开裁剪框 */
.but_file{
  width: 120px;
  height: 120px;
  border: 1px solid #ccc;
  background: url(../../images/Posttask_img.png) no-repeat center 20px;
  background-size: 45px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  color: #999;
}

.but_file p{
  padding-top: 75px;
}

.but_file img{
  width: 100%;
}
/* 图片裁剪 */
.l-btn{
    display: inline-block;
    outline: none;
    resize: none;
    border: none;
    padding:5px 10px;
    background: #f85162;
    color: #fff;
    border:solid 1px #f85162;
    border-radius: 3px;
    font-size: 14px;
}
.l-btn:hover{
    background: #f85162;
    animation: anniu 1s infinite;
}
.l-btn:active{
    box-shadow: 0 2px 3px rgba(0,0,0,.2) inset;
}
.hidden{
    display: none;
}
.tailoring-container, .tailoring-container div, .tailoring-container p{
    margin: 0;padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.tailoring-container{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}
.tailoring-container .black-cloth{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #111;
    opacity: .9;
    z-index: 1001;
}
.tailoring-container .tailoring-content{
    position: absolute;
    width: 768px;
    height: 560px;
    background: #fff;
    z-index: 1002;
    left: 0;
    top: 0;

    /* 水平垂直居中 浏览器版本号低的不支持transform */
    /*left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -weblit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);*/

    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    padding: 10px;
}

.tailoring-content-one{
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #DDD ;
}
.tailoring-content .choose-btn{
    float: left;
    cursor: pointer;
}
.tailoring-content .close-tailoring{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: #eee;
    color: #fff;
    font-size: 22px;
    text-align: center;
    line-height: 30px;
    float: right;
    cursor: pointer;
}
.tailoring-content .close-tailoring:hover{
    background: #ccc;
}

.tailoring-content .tailoring-content-two{
    width: 100%;
    height: 460px;
    position: relative;
    padding: 5px 0;
}
.tailoring-content .tailoring-box-parcel{
    width: 520px;
    height: 450px;
    position: absolute;
    left: 0;
    border: solid 1px #ddd;
}
.tailoring-content .preview-box-parcel{
    display: inline-block;
    width: 228px;
    height: 450px;
    position: absolute;
    right: 0;
    padding: 4px 14px;
}
.preview-box-parcel p{
    color: #555;
}
.previewImg{
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.preview-box-parcel .square{
    margin-top: 10px;
    border: solid 1px #ddd;
}
.preview-box-parcel .circular{
    border-radius: 100%;
    margin-top: 10px;
    border: solid 1px #ddd;
}

.tailoring-content .tailoring-content-three{
    width: 100%;
    height: 40px;
    border-top: 1px solid #DDD ;
    padding-top: 10px;
}
.sureCut{
    float: right;
}

@media all and (max-width: 768px) {
    .tailoring-container .tailoring-content{
        width: 100%;
        min-width: 320px;
        height: 460px;
    }
    .tailoring-content .tailoring-content-two{
        height: 360px;
    }
    .tailoring-content .tailoring-box-parcel{
        height: 350px;
    }
    .tailoring-container .tailoring-box-parcel{
        width: 100%;
    }
    .tailoring-container .preview-box-parcel{
        display: none;
    }

}

