/* 头部 */
.main {
  width: 1130px;
  margin-left: auto;
  padding-bottom: 200px;
}

.main_header {
  height: 200px;
  background: url(../../images/ub/ub_user_bg.jpg) no-repeat;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main_header_user {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 135px;
}

.main_header_user_img {
  width: 115px;
  height: 115px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main_header_user_img div {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.main_header_user_x10 {
  margin-left: 25px;
}

.main_header_user_x10 p {
  width: 100%;
  line-height: 22px;
  height: 22px;
  color: #fff;
}

.main_header_user_type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.main_header_user_type i {
  display: inline-block;
  width: 30px;
  height: 100%;
  background: url(../../images/ub/ub_icon.png) no-repeat -79px 0;
}

.main_header_user_name {
  font-size: 20px;
}

.main_header_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 100px;
}

.main_header_info li {
  width: 100px;
  text-align: center;
  margin-top: 80px;
}

.main_header_info li h2 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}

.main_header_info li p {
  font-size: 18px;
  color: #77010d;
}
/* 添加商品 */
.main_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 30px 0 50px 0;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}

.main_title_cont{
  display: flex;
}

.main_title h1 {
  display: inline-block;
  height: 50px;
  width: 150px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 3px solid #fff;
  font-size: 16px;
  color: #666;
  line-height: 40px;
  margin-right: 30px;
  cursor: pointer;
  transition: 0.15s;
}

.main_title .main_title_cont_on{
  border-color: #f85162;
  color: #f85162;
}

.main_title h1:hover{
  border-color: #f85162;
  color: #f85162;
}

.main_title h1 span {
  font-size: 14px;
}

.main_title_right{
  display: flex;
}

.main_title_search{
  width: 206px;
  height: 33px;
  border: 1px solid #999;
  box-sizing: border-box;
  margin-right: 50px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
}

.main_title_search input{
  width: 160px;
  height: 30px;
  padding-left: 15px;
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  color: #999;
}

.main_title_search button{
  width: 40px;
  height: 100%;
  background: url(../../images/ub/ub_icon.png) no-repeat -267px 5px;
  border: none;
}

.main_title a button {
  width: 100px;
  height: 33px;
  border: 1px solid #999;
  color: #999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  border-radius: 5px;
  font-size: 14px;
}

.main_title a button:hover {
  color: #f85162;
  border-color: #f85162;
}

.main_title a button:active {
  color: #fff;
  background: #f85162;
  border-color: #f85162;
}
/* 内容 */
.main_cont {
  margin-bottom: 60px;
}

.main_cont_nav{
  height: 34px;
  background: #f85162;
  font-size: 14px;
  color: #fff;
  padding-left: 15px;
  box-sizing: border-box; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*角标*/
.main_cont_nav_Corner{
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.main_cont_nav_Corner span{
  margin: 0 12px;
}

.main_cont_nav_Corner i{
  display: inline-block;
  width: 8px;
  height: 13px;
  background: url(../../images/ub/ub_icon.png) no-repeat;
}

.main_cont_nav_Corner i:first-child{
  background-position: -220px 0;
}

.main_cont_nav_Corner i:last-child{
  background-position: -254px 0;
}

.main_cont_title {
  border: 1px solid #d9d9d9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 38px;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main_cont_title > li {
  width: 125px;
  height: 18px;
  border-right: 1px solid #aaaaab;
  box-sizing: border-box;
  text-align: center;
  color: #666;
  font-size: 14px;
  line-height: 18px;
}

.main_cont_x10 .main_cont_title > li{
  width: 141px;
}

.main_cont_title > li:last-child {
  border: none;
}

.main_cont_list > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-top: none;
  border-bottom: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 140px;
}

.main_cont_list > ul > li {
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main_cont_x10 .main_cont_list > ul > li{
  width: 141px;
}

.main_cont_list > ul > li > p {
  width: 150px;
  height: 20px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #666;
}

.main_cont_list > ul > li > h4{
  width: 150px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  color: #666;
  font-weight: lighter;
}

.main_cont_list_img {
  width: 110px;
  height: 80px;
}

.main_cont_list > ul > li > button {
  width: 84px;
  padding: 5px;
  border: 1px solid #999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 14px;
  border-radius: 5px;
  background: none;
  color: #999;
  margin-top: 15px;
}

.main_cont_list > ul > li > button:first-child{
  margin-top: 0;
}

.main_cont_list > ul > li > button:hover {
  color: #f85162;
  border-color: #f85162;
}

.main_cont_list > ul > li > button:active {
  color: #fff;
  background: #f85162;
  border-color: #f85162;
}

.Remarks{
  width: 25px;
  height: 24px;
  background: url(../../images/ub/ub_icon.png) no-repeat -124px 0;
  cursor: pointer;
  position: relative;
}

.Remarks_cont{
  width: 190px;
  border: 1px solid #b2b2b2;
  border-radius: 10px;
  box-sizing: border-box;
  position: absolute;
  background: #fff;
  padding: 10px;
  bottom: 30px;
  left: -83px;
}

.Remarks_text{
  font-size: 14px;
  line-height: 18px;
  color: #666;/* 
  max-height: 130px;
  overflow: auto;  */
}

.Remarks_cont:before{
  content: "";
  position: absolute;
  width: 22px;
  height: 8px;
  background: url(../../images/ub/ub_icon.png) no-repeat -175px 0;
  bottom: -8px;
  left: 84px;
}

.Order_source{
  position: relative;
  height: 70px;
  padding-top: 50px;
  box-sizing: border-box;
}

.Order_source input{
  border: none;
  border-bottom: 1px solid #666;
  width: 100px;
  text-align: center;
}

.Order_source_x10{
  width: 100px;
  height: 20px;
  font-size: 14px;
  color: #666;
  position: absolute;
  top: 0; left: 0;
  overflow: hidden;
  transition: 0.15s;
}

.Order_source_x10:hover{
  height: 100px;
}

.Order_source_x10 h2{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  font-weight: lighter;
  cursor: pointer;
}

.Order_source_x10 h2 i{
  display: inline-block;
  width: 8px;
  height: 8px;
  background: url(../../images/ub/ub_icon.png) no-repeat -330px 0;
  margin-left: 10px;
}

.Order_source_x20{
  background: #fff;
  text-align: center;
  margin-top: 5px;
  border: 1px solid #ccc;
}

.Order_source_x20 li{
  height: 24px;
  line-height: 24px;
  cursor: pointer;
}

.Order_source_x20 li:hover{
  background: #f85162;
  color: #fff;
}

.Order_source_x20 .Order_source_on{
  background: #f85162;
  color: #fff;
}

.main_cont_switch button{
  width: 100%;
  height: 40px;
  border: 1px solid #f85162;
  background: #fff;
  color: #f85162;
  font-size: 16px;
  letter-spacing:17px;
  transition: 0.15s;
}

.main_cont:hover .main_cont_switch button{
  background: #f85162;
  color: #fff;
}
/*对接单*/
.main_cont_ButtList{
  border-right: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.main_cont_ButtList li{
  width: 140px;
  height: 180px;
  border-right: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  margin-left: -1px;
  cursor: pointer;
  text-align: center;
  color: #666;
}

.main_cont_ButtList li:last-child{
  border: none;
  margin: 0;
}

.main_cont_ButtList .main_cont_ButtList_on{
  border-color: #f85162;
  z-index: 1;
}

.ButtList_title{
  width: 100%;
  height: 36px;
  line-height: 36px;
  position: relative;
  font-size: 14px;
}

.ButtList_title i{
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-sizing: border-box;
  border: 1px solid #999;
  top: 8px; left: 106px;
}

.main_cont_ButtList_on .ButtList_title i{
  background: url(../../images/ub/ub_icon.png) no-repeat -365px 5px;
  border-color: #f85162;
}

.main_cont_ButtList p{
  font-size: 14px;
  line-height: 26px;
  margin-top: 50px;
}

.main_cont_ButtList button {
  width: 84px;
  padding: 5px;
  border: 1px solid #999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 14px;
  border-radius: 5px;
  background: none;
  color: #999;
  margin-bottom: 25px;
}

.main_cont_ButtList button:hover {
  color: #f85162;
  border-color: #f85162;
}

.main_cont_ButtList button:active {
  color: #fff;
  background: #f85162;
  border-color: #f85162;
}

.ButtList_but{
  margin-top: 35px;
}