/*content*/
.content,.hotelContainer{
  margin-left:auto;
  margin-top:5px;
  width: 1100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.stateItems{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 14px; 
  -webkit-box-sizing: border-box; 
          box-sizing: border-box;
}
.stateItem{
  width: 268px;
  height: 100px;
  border:1px solid #e4ebf1;
  margin-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.stateItem div:first-child{
  width: 74px;
  height: 100%;
  border-right: 1px solid #e4ebf1;
}
.stateItem_on{
  border: 1px solid #fbdfe2;
}
.stateItem_on div:first-child{
  border-right: 1px solid #fbdfe2;
}
.stateItem_on div.s_status{
  color: #f53646;
}
/*待审核*/
.stateItem_01{
  background: url(../../images/c_management/waitpass01.png) no-repeat center center;
}
.stateItem_on .stateItem_01{
   background: url(../../images/c_management/waitpass02.png) no-repeat center center;
}
/*审核通过*/
.stateItem_02{
  background: url(../../images/c_management/pass01.png) no-repeat center center;
}
.stateItem_on .stateItem_02{
  background: url(../../images/c_management/pass02.png) no-repeat center center;
}
/*审核未通过*/
.stateItem_03{
  background: url(../../images/c_management/nopass01.png) no-repeat center center;
}
.stateItem_on .stateItem_03{
  background: url(../../images/c_management/nopass02.png) no-repeat center center;
}
.stateItem .s_status{
  width: 194px;
  font-size: 24px;
  text-align: center;
  line-height: 100px;
  color: #666;
}
/*选项列表*/
.checkList{
  width: 100%;
  margin-top:57px;
  margin-bottom: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.checkList a:hover{
  text-decoration: none;
}

.checklistItem{
  width: 210px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin:0 60px 45px 0;
  cursor: pointer;
  border: 1px solid #e4ebf1;
  font-weight: bold;
  color: #333;
  background: url(../../images/c_management/sanjiao01.png) no-repeat 30px center;
}

.checklistItem:hover{
  background: url(../../images/c_management/sanjiao02.png) no-repeat 30px center;
  border-color: #f85162;
  color: #f85162;
}

.checklistItem p{
  display: inline-block;
  width: 175px;
  height: 20px;
  line-height: 20px;
  padding-left: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
